@page "/ordersuccessful"
<body>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-10 col-lg-5">
                <img src="/images/undraw_order_confirmed.svg" style="width:100%" />
            </div>
        </div>
        <div class="row justify-content-center">
            <h3>Thank you for your order!</h3>
        </div>
    </div>
</body>

@code {

}
